nz-card {
    margin-bottom: 1em;

    a {
        font-size: .8em;
    }

    p:first-child {
        margin-top: 0;
        margin-bottom: 0;
    }

    p:last-child {
        margin-top: 1.5em;
        margin-bottom: 0;
    }
}

button {
    margin-left: .3em;
}

*:last-child {
    margin-bottom: 2em;
}